/* font content */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');
/* font title */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    /* colors */
    --primary:#1e3148;
    --secondary: #ffcb73;
    --text-color:#fff;
}
*{
    font-family: 'Roboto', sans-serif;    
}
.nav-bar{
    background: var(--primary);
}
.nav-bar nav {
    font-family: 'Roboto', sans-serif;   
}
.nav-bar nav ul {
 margin:0px;
 font-style: none;
 margin-left: 60%;

}
ul li{
    list-style: none;
    display: inline-block;
    vertical-align: middle;
} 
li{
    padding: 1rem;
    color:var(--text-color);
}
li a{
    text-decoration: none;
    color: var(--text-color);
}
li a:hover{
    color: var(--secondary); 
}
li:hover{
   /*  background-color: var(--secondary); */
    border-bottom: 4px solid var(--secondary);
    color: var(--secondary);
   /*  -webkit-box-shadow: inset -16px -18px 16px -12px rgba(0,0,0,0.36);
    -moz-box-shadow: inset -16px -18px 16px -12px rgba(0,0,0,0.36);
    box-shadow: inset -16px -18px 16px -12px rgba(0,0,0,0.36); */
}
/* sections */
/******************************** 1.- Initials **************************************************/
section.initial{
    /* margin-top: 2rem; */
    background-image: url('../img/tools.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 2rem;
}

.initial div {
    margin-top:20%;
/*     margin-left:15%; */
    color:var(--text-color);
    
}
.initial div h1 {

text-align: center;
font-family: 'Bebas Neue', cursive;
font-size: 80px;
text-shadow: -3px 6px 9px rgba(0,0,0,0.76);
}
.initial div p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Bebas Neue',cursive;
    text-shadow: -3px 6px 9px rgba(0,0,0,0.76);
}
.initial .social-networks{
    margin:0px;
}