/* font content */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');
/* font title */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    /* colors */
    --primary:#1e3148;
    --secondary: #ffcb73;
    --text-color:#fff;
}
*{
    font-family: 'Roboto', sans-serif;    
}
/*******
1.- nav bar
2.- section initial
3.- section service
*****/
/**************************** Navbar ************************************/
.nav-bar{
    background: var(--primary);
    position: fixed;
    width: 100%;
}
.nav-bar nav {
    font-family: 'Roboto', sans-serif;
    margin-left: 70%;   
}
.nav-bar nav ul {
 margin:0px;
 font-style: none;
 display: contents;

}

.nav-bar nav ul li{
    list-style: none;
    display: inline-block;
    vertical-align: middle;
} 
li{
    padding: 1rem;
    color:var(--text-color);
}
li a{
    text-decoration: none;
    color: var(--text-color);
}
li a:hover{
    color: var(--secondary); 
    text-shadow: 2px 2px 20px #E0E0E0;
}

li:hover{
   /*  background-color: var(--secondary); */
    border-bottom: 4px solid var(--secondary);
    color: var(--secondary);
   /*  -webkit-box-shadow: inset -16px -18px 16px -12px rgba(0,0,0,0.36);
    -moz-box-shadow: inset -16px -18px 16px -12px rgba(0,0,0,0.36);
    box-shadow: inset -16px -18px 16px -12px rgba(0,0,0,0.36); */
}
/* sections */
/******************************** 1.- Initials **************************************************/
section.initial{
    /* margin-top: 2rem; */
    background-image: url('../img/tools.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 2rem;
}

.initial div {
    margin-top:20%;
/*     margin-left:15%; */
    color:var(--text-color);
    
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', cursive; 
}
.initial div h1 {
text-align: center;
font-size: 80px;
text-shadow: -3px 6px 9px rgba(0,0,0,0.76);
animation: bounce; /* referring directly to the animation's @keyframe declaration */
animation-duration: 2s; /* don't forget to set a duration! */
}
.initial div p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Bebas Neue',cursive;
    text-shadow: -3px 6px 9px rgba(0,0,0,0.76);
    animation: backInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */

}
.initial .social-networks{
    margin:0px;
    font-size: 50px;
    text-align: center;
    color: var(--text-color);
    text-shadow: -3px 6px 9px rgba(0,0,0,0.76);
    animation: backInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}
.social-networks a {
    color: var(--text-color);
 
}
/* .img-socials{
    height: 10vh;
} */
/* .fa-facebook{
   
} */
/* ****************************************** 2.Services****************************************/
.services{
    height: 90vh;
    
}
.wrap-service{
    display: flex;
    flex-direction: row;
    background-color: var(--primary);
    color: var(--secondary);
    /* flex-wrap: wrap;
    flex-flow: column wrap ;
    justify-content: center; */
}
 .service-rigth{
    width: 200px;
    flex-grow: 2;
    padding: 2rem;


}
.service-left{
 flex-grow: 2;
 
    color:var(--secondary);
    padding: 2rem;
}
img.img-service{
    height: 70vh;
    margin: 2rem;
}
/********************************************FOOTER*************************************************************/

footer{
    background-color: var(--primary);
    height: 100vh;
}
